@CHARSET "UTF-8";

body {
	background: #FFFFFF none repeat scroll 0 0;
	color: #000000;
	font-family: arial, sans-serif;
	font-size: 84%;
	margin: 3px 8px;
}

.program-date {
	color: #666666;
}

.error {
	color: red;
}

.summary {
	background: #E7E7E7;
	border-color: #C3D9FF /*-moz-use-text-color #CCCCCC*/;
	border-style: solid none;
	border-width: 2px 0 1px;
	color: #333333;
	font-weight: bold;
	height: 1.4em;
	padding: 3px;
}

.content {
	background: #FFFFFF none repeat scroll 0 0;
	padding: 8px;
}

.program {
	background-color: #FFFFFF;
	margin: 0 7px 7px 0;
	padding: 8px;
}

.program_summary {
	font-style: italic;	
}

pre.code {
	border-left: 3px solid #CCCCCC;
	padding: 0.5em;
}

.hidden-form {
	margin: 10px 0px 0px 0px;
}

.mbh {
	border-top: 1px solid #C9D7F1;
	font-size: 1px;
	height: 0;
	width: 100%;
}

.user, navbar {
	white-space: nowrap;
}

h2 {
	font-size: large;
}

h3 {
	font-size: larger;
}

table.programs {
  border: 1px solid #c5d7ef;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 0;
}

table.programs th, table.programs td {
  padding: .25em 1.5em .5em .5em;
}

table.programs th {
  font-weight: bold;
  text-align: left;
  background: #e5ecf9;
  white-space: nowrap;
}

table.programs th a, table.programs th a:visited {
  color: black;
  text-decoration: none;
}

table.programs td {
  background-color: #fff;
  text-align: left;
  vertical-align: top;
}

table.programs tr.even td {
  background-color: #f9f9f9;
}

.comment {
	margin-top: 15px;
}

.comment-text {
	margin-top: 8px;
	margin-bottom: 8px;
}