<?xml version="1.0" encoding="utf8"?>
<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.5//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <filter>
        <filter-name>App</filter-name>
        <display-name>spsc</display-name>
        <filter-class>spsc.web.App</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>App</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
</web-app>
