{%extends "base.html"%}
{%block title%}SPSC: My Programs{%endblock%}
{%block content%}
    {% for program in programs %}
    <div class="program">
		<div class="summary">
			<a href ="/view?key={{program.key}}"/> {{ program.name }}</a> 
			by 
			<a href ="/author?key={{program.author.key}}"/> {{ program.author.user.nickname }}</a> 
			<span class="program-date">{{ program.date|date:"jS F Y H:i" }}</span> 
		</div>
		<div class="content">
			<div class="program_summary">{{program.summary}}</div>
		</div>
	</div>
    {% endfor %}
{%endblock%}