{%extends "base.html"%}
{%block title%}new{%endblock%}
{%block content%}
  	<form action="/new" method="post">
    <table>
    	<tbody>
    	<tr><td>Sample name:</td><td width="100%">Target f-function:</td></tr>
    	<tr><td>
    	<input id="name" name="name" type="text" value="{{name}}"/></td>
    	<td><input id="goal" name="goal" type="text" value="{{goal}}"/><td></tr>
    	{% if no_f_function %}
    	<tr><td colspan="2"><div class="error">Error: there is no f-function <b>{{goal}}</b> in your input</div></td></tr>
    	{% endif %}
    	<tr><td>Code:</td><td></td></tr>
    	<tr><td colspan="2"><textarea id="code" cols="100" rows="17" name="code">{{code}}</textarea></td></tr>
    	{% if code_error %}
    	<tr><td colspan="2"><div class="error">Incorrect input: {{code_error}}<br/>
    	<nobr><b>{{code_line}}</b></nobr>
    	</div></td></tr>
    	{% endif %}
    	<tr><td>Description:</td><td></td></tr>
    	<tr><td colspan="2"><textarea id="description" cols="100" rows="5" name="description">{{description}}</textarea></td></tr>
    	<tr><td><input value="Submit" type="submit" /></td><td></td></tr>
    	</tbody>
    </table>
    </form>
{%endblock%}