{%extends "base.html"%}
{%block title%}SPSC: {{program.name}}{%endblock%}
{%block content%}
    {%if program%}
    <div class="program">
		<div class="summary">
			<span class="program-name">{{program.name}}</span> by 
			<a href ="/user?key={{program.author.key}}"/> {{ program.author.user.nickname }}</a> 
			<span class="program-date">{{ program.date|date:"jS F Y H:i" }}</span> 
		</div>
		<div class="content">
			<div class="program_summary">{{program.summary}}</div>
			<h3>Input code</h3>
			<div class="code"><pre class="code">{{ program.code }}</pre></div>
			<h3>Start function</h3>
			<div class="code"><pre class="code">{{ program.goal }}</pre></div>
			<h3>Supercompiled code</h3>
			<div class="code"><pre class="code">{{ program.scp_code }}</pre></div>
			<h3>Notes</h3>
			<div class="description">{{ program.notes }}</div>
			<h3>Process tree</h3>
			{%if program.svg_tree%}
			<object type="image/svg+xml" data="svg?key={{program.key}}">SVG</object>
			{%endif%}
		<div class="hidden-form">
			<table>
			<tr>
    		{% ifequal program.author.user user %}
    		<td>
			<form action="/edit">
			<input name="key" type="hidden" value="{{ program.key }}"/>
			<input type="submit" value="Edit" /></form>
			</td>
			<td>
			<form action="/delete">
			<input name="key" type="hidden" value="{{ program.key }}"/>
			<input type="submit" value="Delete" /></form>
			</td>
    		{% endifequal %}
    		</tr>
    		</table>
 		</div>
		</div>
	</div>
    {% endif %}
{%endblock%}