<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/static/spsc.css" />
    <title>SPSC samples</title>
  </head>
  <body>
  	<div class="menu">
  	<table width="100%">
  	<tbody>
  	<tr>
  	<td>
  		<div class="navbar">
  		{% for navitem in navitems %}
  			{% if navitem.link %}
        		<a class="b1" href="{{ navitem.link }}">{{ navitem.text }}</a>
      		{% else %}
       			<b class="b1">{{ navitem.text }}</b>
      		{% endif %}
  		{% endfor %}
  		</div>
  		</td>
  		<td align="right">
  		<div class="user" >
  		{% for useritem in useritems %}
  			{% if useritem.link %}
        		<a class="b1" href="{{ useritem.link|escape }}">{{ useritem.text }}</a>
      		{% else %}
       			<b class="b1">{{ usertem.text }}</b>
      		{% endif %}
  		{% endfor %}
  		</div>
  		</td>
  		</tr>
  	</tbody>
  	</table>
  	</div>
  	<div class="mbh" ></div>
  	
    {% for program in programs %}
    <div class="program">
		<div class="summary">
			<span class="program-name">{{program.name}}</span> by 
			<span class="program-author">{{ program.author.nickname }}</span> 
			<span class="program-date">{{ program.date|date:"jS F Y H:i" }}</span> 
		</div>
		<div class="content">
			<div class="program-goal">Goal: {{ program.goal }}</div>
			<div class="code"><pre class="code">{{ program.code }}</pre></div>
		<div class="description">{{ program.description }}</div>
		<div class="hidden-form">
			<table>
			<tr>
			<td>
			<form action="run" method="get">
			<div>
				<input name="key" type="hidden" value="{{ program.key }}" /> 
        		<input value="Run" type="submit" />
    		</div>
    		</form>
    		</td>
    		{% ifequal program.author user %}
    		<td>
			<form action="/edit">
			<input name="key" type="hidden" value="{{ program.key }}"/>
			<input type="submit" value="Edit" /></form>
			</td>
			<td>
			<form action="/delete">
			<input name="key" type="hidden" value="{{ program.key }}"/>
			<input type="submit" value="Delete" /></form>
			</td>
    		{% endifequal %}
    		</tr>
    		</table>
 		</div>
		</div>
	</div>
    {% endfor %}
  </body>
</html>
